*.gba
*.map
build
agbcc
binutils
*.cfg
*.sav
*.elf
*.o
*.memo.*
tmp*.py
rmz-text-compiler
data/string/**/*.bin
tools/gbagfx/gbagfx
data/texts/*/*.bin
data/gfx/dialog/mugshot/**/*.bin
tmp*.s
*.tmp.*
*.4bpp
*.lz
tools/mgba

src/**/*.s
!src/libs/m4a_1.s
!src/analysis/analysis.s

src/gfx.c
